{% extends "base.html" %}

{% block content %}
<b>{{ user }} </b> <br>
{% if user.avatar %}
<img src="{{ user.avatar(128) }}">
{% endif %}
    <hr>
    <h1>Первым делом ВЫБИРИТЕ ПРОЕКТ</h1>
    <h2>
    {% for Project in Projects %}
              {% include '_project.html' %}
    {% endfor %}
    </h2>
    <hr>
    <h2>

  Фильтры:</h2><br>
    <a href="{{ url_for('projects', project=current_project, filter=1, quantity=5)}}">На проверке: №1</a>
    <a href="{{ url_for('projects', project=current_project, filter=2, quantity=5)}}">На доработке №2</a>
    <a href="{{ url_for('projects', project=current_project, filter=3, quantity=5)}}">Отклоненные посты №3</a>
    <a href="{{ url_for('projects', project=current_project, filter=4, quantity=5)}}">Одобренные посты №4</a>
    <a href="{{ url_for('projects', project=current_project, filter=5, quantity=5)}}">Опубликованные посты №5</a>
    <hr>
      <h2>применён фильтр <b>№ {{filter}}</b><i> (смотри гугл. док)</i></h2>
    {% for post in Posts %}
              {% include post_str %}<br>
    {% endfor %}
    	<button onclick="givePosts({{current_project}},0,3,3)">показать ещё 10 постов</button>
{% endblock %}
